@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: burlywood;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	padding: 20px;
}

h1 {
	font-weight: 400;
}
