@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

body {
	padding: 20px;
}

h1 {
	font-weight: 400;
}

.card-container {
	width: 200px;
	height: 200px;
	background-color: coral;
	border-radius: 10px;
}
